@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  /* Tema basato su Rosé Pine */
  /* https://rosepinetheme.com/palette/ingredients/ */
  --background: #fffaf3;
  --altbackground: #faf4ed;
  --alttabs: #f4f0ee;
  --arancione: #f6c177;
  --rosso: #d7827e;
  --blu: #56949f;
  --celeste: #9ccfd8;
  --viola: #907aa9;
  --grigio: #9893a5;
  --nero: #575279;

  --shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0px;
  color: var(--nero);
  font-family: "Inconsolata";
  background-color: var(--background);
}

#inputContainer {
  background-color: var(--altbackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  box-shadow: var(--shadow);
}

input {
  font-size: 21px;
  line-height: 30px;
  width: 400px;
  padding: 8px 16px;
  border-radius: 25px;
  border: 1px solid var(--grigio);
  background-color: var(--alttabs);
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  transition-duration: 0.4s;

  &:focus {
    outline: none;
    background-color: var(--background);
    border: 2px solid var(--celeste);
    box-shadow: var(--shadow);
  }
}

label {
  margin: 5px;
  color: var(--grigio);
}

#tableContainer {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

table {
  align-self: flex-start;
  margin: 20px;
  break-inside: avoid;
  border-style: solid;
  border-color: var(--grigio);
  border-width: 0px;
  border-top-width: 1px;
  border-collapse: collapse;
  width: 300px;
  font-size: 18px;
}

th,
td {
  line-height: 30px;
  padding: 0 0 0 10px;
  text-align: center;
  border-top: 0px;
}

tr:nth-child(even) {
  background-color: var(--alttabs);
}

button {
  color: var(--rosso);
  background: transparent;
  border-style: none;
  border-radius: 2px;
  transition-duration: 0.4s;
  padding: 10px 12px;
}

button:hover {
  color: var(--background);
  background-color: var(--rosso);
}

/* Regole specili per funzioni js  */
.currentCode {
  color: var(--celeste);
}

tr.duplicate {
  background-color: var(--rosso);
  color: var(--background);
}

tr.duplicate button {
  color: var(--background);
}

tr.duplicate button:hover {
  background-color: var(--background);
  color: var(--rosso);
}

.copied {
  color: var(--arancione);
  font-weight: 600;
}

.secondCell {
  cursor: pointer;
  width: 90%;
  text-align: left;
}
